#nav-bar{
    position: sticky;
    top: 0%;
    background-color: #131921;
    border-style: double ;
    border-color: black;
    display: flex;
}
.barItem{
    font-weight: bold;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    padding: 1%;
    
}
.barItem:hover{
    color: white;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    padding: 1%;
    border: white solid 1px;
}



img{
    width: 100%;
    height: 45%;
}

#men{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
}
#women{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
}
h1{
    text-align: center;
}
#ContactUs span{
    text-align: center;
    padding: 1%;
}
#ContactUs img{
    height: 2%;
    width: 2%;
}
.follow{
    display: inline;
}